<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Kinect.WinForm" version="1.1.0" />
  <package id="Coding4Fun.Kinect.Wpf" version="1.1.0" />
  <package id="KinectToolbox" version="1.1.0.2" />
  <package id="ObservableKinect" version="0.8.0.0" />
  <package id="ObservableKinect.Speech" version="0.8.0.0" />
  <package id="Rx-Main" version="1.0.11226" />
</packages>